
    body{
        background-color:#D0D0D0;
        font-size: 87.5%;
        font-family: Calibri;
        line-height: 1.5;
        text-align: left;
    }
    
    a {
        text-decoration: none;
    }
    
    a:link, a:visited {
        color: #CF5C3F;
    }
    
    a:hover, a:active {
        background-color: #CF5C3F;
        color: white;
    }
    
    .body{
        margin: 0 auto;
        width: 70%;
        clear: both;
        
    }
    
    .mainheader img{
        width: 30%;
        height: auto;
        margin: 2% 0;
    }
    
    .mainheader nav{
        background-color: #666;
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .mainheader nav ul{
        list-style:  none;
        margin: 0 auto;
    }
    
    .mainheader nav ul li{
        float: left;
        display: inline;
    }
    
    .mainheader nav a:link, .mainheader nav a:visited {
        color: white;
        display: inline-block;
        padding: 10px 25px;
        height: 20px;
    }
    
    .mainheader nav a:hover, .mainheader nav a:active,
    .mainheader nav .active a:link, .mainheader nav .active a:visited {
        background-color: #CF5C3F;
        text-shadow: none;
    }
    
    .mainheader nav ul li a{
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .mainContent {
        line-height: 25px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .content{
        width: 70%;
        float: left;
    }
    
    .topcontent{
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
    }
    
    .form1{
        width: 200px;
        background-color: #FFC;
        margin-top: 90px;
    }
    
    .fieldset1 label{
        width:110px;
        float: left;
        clear: left;
    }
    
    .fieldset1 input, fieldset1 select{
        margin-bottom: 5px;
        width: 150px;
    }
    
    .button{
        border-left: 2px solid #999;
        border-top: 2px solid #999;
        border-right: 2px solid #999;
        border-bottom: 2px solid #999;
    }

        .post-info{
        color: #999;
        font-size: 145%;
    }
    
    .top-sidebar {
        width: 21%;
        font-family: Calibri;
        float: left;
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin: 2% 0 2% 3%;
        padding: 2% 3%;
    }
    
    .middle-sidebar {
        width: 21%;
        float: left;
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-left: 3%;
        margin-bottom: 2%;
        padding: 2% 3%;
    }
    
    .bottom-sidebar {
        width: 21%;
        float: left;
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-left: 3%;
        margin-bottom: 2%;
        padding: 2% 3%;
    }
    
    .mainFooter{
        width: 100%;
        height: 40px;
        float: left;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #666;
        margin: 2% 0;
    }
    
    .mainFooter p{
        width: 92%;
        margin: 10px auto;
        color: white;
    }
    
    @media only screen and (min-width: 150px) and (max-width: 600px)
    {
       .body{
        width: 90%;
        font-size: 95%;
        
    }
    
    .mainheader img{
        width: 100%;
    }
    
    .mainheader nav{
        height: 282px;
    }
    
    .mainheader nav ul{
        padding-left: 0;
    }
    
    .mainheader nav ul li{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .mainheader nav a:link, .mainheader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
    
    
    .content{
        width: 100%;
        float: left;
        margin-top: 2%;
    }
    
    .post-info{
        display: none;
    }
    
    .topcontent{
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
        margin-bottom: 4%
    }
    
    .bottomcontent{
        margin-top: 3%;
    }
    
     .top-sidebar, .middle-sidebar, .bottom-sidebar {
        width: 94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;
    }
    
    
    }